@use 'index' as *;

.dashboard__stats {
  &--count {
    font-size: font-size(5xl);
  }

  &--name {
    color: color-shade($gray, 500);
    font-size: font-size(2xl);
  }

  &--content {
    display: flex;
    gap: spacing(8);
    padding: spacing(7);
  }

}
