@use 'functions' as *;

.tasker {
	&__basic {
		&--label {
			display: block;
			font-size: font-size(xl);
			padding: spacing(4) 0;
		}

		&--input {
			display: block;
			padding: spacing(4) 0;
		}
	}
}
