<div class="tasker__form tasker__layout">
    <div class="tasker__form--section tasker__form--header">
        <a href="#" (click)="goBack(); $event.preventDefault()" class="tasker__form--back">
            <BackIcon></BackIcon>
            <span> Back </span>
        </a>

        <h1 class="task__form--title">Create new task</h1>
    </div>
    <div class="tasker__form--section tasker__basic--information">
        <p-card>
            <div class="tasker__card--header">
                <h2>Basic Information</h2>
            </div>
            <div class="tasker__basic">
                <div class="tasker__basic--title">
                    <label for="title" class="tasker__basic--label">Task title</label>
                    <tasker-input
                            placeholder="Enter task title"
                            className="tasker__basic--input"
                    ></tasker-input>
                </div>
                <div class="tasker__basic--description">
                    <label for="description" class="tasker__basic--label">Task
                        description</label>
                    <tasker-rich-text-editor/>
                </div>
                <div class="tasker__basic--attachments">
                    <label for="attachments" class="tasker__basic--label">Attachments</label>
                    <tasker-file-upload/>
                </div>
            </div>
        </p-card>
    </div>
    <div class="tasker__form--section tasker__task--details">
        <p-card>
            <div class="tasker__card--section">
                <div class="tasker__card--header">
                    <h2>Task Details</h2>
                </div>
                <div class="tasker__details">
                    <div class="tasker__details--priority">
                        <label for="priority" class="tasker__details--label">Priority</label>
                        <tasker-dropdown
                                [options]="priorities"
                                [searchable]="true"
                                [clearable]="true"
                                (selectionChange)="onPrioritySelect($event)"
                                placeholder="Select an item..."
                        ></tasker-dropdown>
                    </div>
                    <div class="tasker__details--dueDate">
                        <label for="dueDate" class="tasker__details--label">Due Date</label>
                        <p-datePicker placeholder="Normal" showIcon iconDisplay="input"/>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>
