<div class="tasker__accordion">
	<div class="tasker__accordion--header">
		<h2 class="tasker__accordion--title">{{ task().title }}</h2>
		<span
			class="tasker__accordion--priority badge"
			taskerPriorityBadge
			[priority]="task().priority"
			>{{ task().priority | capitalizeFirst }}</span
		>
		<span class="tasker__accordion--dueDate">{{ task().dueDate | date: 'MMMM d, y' }}</span>
		<span class="tasker__accordion--assigned">{{ task().assignedTo }}</span>
		@if (task().profilePicture) {
			<img
				[src]="task().profilePicture"
				alt="profile picture"
				class="tasker__accordion--profilePicture"
			/>
		}
	</div>
	<div class="tasker__accordion--body">
		<p>
			{{ task().description }}
		</p>
	</div>
	<div class="tasker__accordion--footer">
		{{ task().tags }}
	</div>
</div>
