<div
	class="tasker__accordion"
	[ngClass]="{
		'approaching-due': dueDateStatus(task().dueDate) === 'approaching',
		future: dueDateStatus(task().dueDate) === 'future',
	}"
>
	<div class="tasker__accordion--checkbox">
		@let isTaskCompleted = isCompleted$ | async;
		<input type="checkbox" [checked]="isTaskCompleted" (change)="toggleTask()" />
		@if (isTaskCompleted) {
			<tasker-check-icon
				[className]="'tasker__accordion--checkbox-icon'"
				(click)="toggleTask()"
				[size]="'1.95rem'"
				[isGreen]="true"
			/>
		} @else {
			<span class="tasker__accordion--checkbox-icon"></span>
		}
	</div>
	<div class="tasker__accordion--content">
		<div class="tasker__accordion--header">
			<h2 class="tasker__accordion--title" [ngClass]="{ 'text-strike': isTaskCompleted }">
				{{ task().title }}
			</h2>
			<div class="tasker__accordion--header-left">
				<div
					class="tasker__accordion--priority badge"
					taskerPriorityBadge
					[priority]="task().priority"
				>
					{{ task().priority | capitalizeFirst }}
				</div>
				<div class="tasker__accordion--dueDate" taskerDateColor [dueDate]="task().dueDate">
					{{ task().dueDate | date: 'MMMM d, y' }}
				</div>
				@if (task().profilePicture) {
					<img
						[src]="task().profilePicture"
						alt="profile picture"
						class="tasker__accordion--profilePicture"
					/>
				}
				<div class="tasker__accordion--assigned">{{ task().assignedTo }}</div>
				<div class="tasker__accordion--actions"></div>
			</div>
		</div>
		<div class="tasker__accordion--body">
			<p>
				{{ task().description }}
			</p>
		</div>
		<div class="tasker__accordion--footer">
			<tasker-chips [chips]="task().tags"></tasker-chips>
		</div>
	</div>
</div>
