@use 'index' as *;

.performance-card {
	background-color: color-shade($purple, 50);
	padding: spacing(6);
	border-radius: spacing(3);
	color: color-shade($purple, 700);
	height: 100%;
	transition: all 0.2s ease;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: spacing(6);
	}

	&__title {
		font-weight: font-weight(medium);
		font-size: font-size(3xl);
		letter-spacing: -0.3px;
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__section {
		margin-bottom: spacing(6);

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__label {
		display: block;
		font-size: font-size(lg);
		color: color-shade($purple, 500);
		margin-bottom: spacing(2);
		font-weight: font-weight(medium);
	}

	&__value {
		font-size: font-size(2xl);
		font-weight: font-weight(semibold);
		color: color-shade($purple, 800);

		&--large {
			font-size: font-size(4xl);
			letter-spacing: -1px;
			line-height: 1;
		}
	}

	::ng-deep svg {
		color: color-shade($purple, 400);
		width: spacing(6);
		height: spacing(6);
	}
}
