@use 'index' as *;

.dashboard {
	&__layout {
		padding: spacing(16);
		height: 100%;
		width: 100%;
	}

	&__stats {
		display: flex;
		gap: spacing(7);

		&--item {
			flex: 1;
		}
	}
}

:host ::ng-deep .p-card.my-tasks-card {
	@include card-base('lg');

	.task__card {
		@include flex-column;
		gap: spacing(11);

		&--list {
			&-item {
				@include flex-between;

				&:not(:first-child) {
					padding: spacing(6) 0;
				}

				&:first-child {
					padding-bottom: spacing(6);
				}

				.task__date {
					@include flex-center;
					p {
						font-size: font-size('xl');
					}
				}

				.task__text {
					h3 {
						font-size: font-size('xl');
						font-weight: font-weight('medium');
					}

					p {
						font-size: font-size('xl');
						color: color-shade($gray, 500);
					}
				}
			}
		}
	}

	.task-item {
		@include flex-between;
		align-items: start;
		gap: spacing(4);
		margin-bottom: spacing(6);
	}

	.task-info {
		flex: 1;
		overflow: hidden;

		.task-title {
			h3 {
				font-size: font-size('lg');
				font-weight: font-weight('medium');
				margin-bottom: spacing(1);
				color: text-color('primary');
			}
		}

		.task-description {
			@include truncate;
			font-size: font-size('base');
			color: text-color('secondary');
		}
	}

	.task-meta {
		display: flex;
		align-items: center;
		gap: spacing(2);

		//TODO: requires resuable component css
		.priority-tag {
			font-size: 1.1rem;
			padding: 0.2rem 0.6rem;
			border-radius: 0.75rem;
			background-color: #fee2e2;
			color: #b91c1c;
			font-weight: 500;
		}

		.due-date {
			font-size: font-size('sm');
			color: text-color('muted');
			@include flex-center;
		}
	}

	.view-tasks-button {
		font-weight: font-weight(semibold);
		border-radius: 0.5rem;
		background-color: color-shade($indigo, 500);
		border: none;
	}
}

.card__title {
	font-weight: font-weight('medium');
	padding-bottom: spacing(8);
}

.task-item {
	padding-top: spacing(10);
}

.horizontal__line {
	position: relative;
	&:not(:last-child) {
		border-bottom: 1px solid color-shade($gray, 200);
	}
}

.task__viewer {
	display: flex;
	gap: spacing(4);
	padding-top: spacing(13);
}

.current__task {
	flex: 1 1 45%;
}

.recent__activity {
	flex: 1 1 45%;
}
