@use 'index' as *;

.app-layout {
  display:grid;
  grid-template-columns: minmax(15rem, 25.6rem) minmax(76.8rem, auto);
  grid-template-rows: 6.5rem auto;
  grid-template-areas:
    "sidebar topbar"
    "sidebar content";
  height: 100vh;
  overflow: hidden;
}

.content-area {
  //background-color: #2563eb;
  height: 100%;
}

.sidebar {
  grid-area: sidebar;
}

.topbar {
  //background-color: #1e3a8a;
  grid-area: topbar;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-area {
  grid-area: content;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: color-shade($gray, 100);
}
