<div class="filter__layout">
	<p-card>
		<div class="filter__header">
			<h3 class="filter__header--text flex-center">
				<div class="filter__header--icon">
					<FilterIcon />
				</div>

				<div>Filters</div>
			</h3>
			<button class="advanced__filter--button icon__only indigo__button--text">
				<div class="button__icon flex-center">
					<AdvancedFilterIcon />
				</div>
				<div class="button__text flex-center">Advanced</div>
			</button>
		</div>
		<div class="filter__actions">
			<div class="filter__action">
				<p class="filter__label">Status</p>
				<tasker-dropdown
					[options]="statuses"
					[searchable]="true"
					[clearable]="true"
					(selectionChange)="onStatusSelect($event)"
					placeholder="Select an item..."
				></tasker-dropdown>
			</div>
			<div class="filter__action">
				<p class="filter__label">Priority</p>
				<tasker-dropdown
					[options]="priorities"
					[searchable]="true"
					[clearable]="true"
					(selectionChange)="onPrioritySelect($event)"
					placeholder="Select an item..."
				></tasker-dropdown>
			</div>
			<div class="filter__action">
				<p class="filter__label">Assignee</p>
				<tasker-dropdown
					[options]="assignees"
					[searchable]="true"
					[clearable]="true"
					(selectionChange)="onAssigneeSelect($event)"
					placeholder="Select an item..."
				></tasker-dropdown>
			</div>
			<div class="filter__action">
				<p class="filter__label">Due Date</p>
				<tasker-dropdown
					[options]="dueDates"
					[searchable]="true"
					[clearable]="true"
					(selectionChange)="onDueDateSelect($event)"
					placeholder="Select an item..."
				></tasker-dropdown>
			</div>
		</div>
	</p-card>
</div>
