<aside class="sidebar">
  <h2>TaskMaster</h2>
  <nav class="sidebar__navigation">
    <a class="sidebar__link" routerLink="/dashboard" routerLinkActive="active">
      <DashboardIcon/>
      Dashboard
    </a>
    <a class="sidebar__link" routerLink="/tasks" routerLinkActive="active">
      <TasksIcon/>
      Tasks
    </a>
    <a class="sidebar__link" routerLink="/calendar" routerLinkActive="active">
      <CalenderIcon />
      Calendar
    </a>
    <a class="sidebar__link" routerLink="/team" routerLinkActive="active">
      <TeamIcon/>
      Team
    </a>
    <a class="sidebar__link" routerLink="/settings" routerLinkActive="active">
      <SettingsIcon/>
      Settings
    </a>
  </nav>
</aside>
