@use 'index' as *;
.analytics {
	&__layout {
		height: 100%;
	}

	&__card {
		display: flex;
		flex-direction: column;
		height: 100%;

		&--info {
			flex: 1 1 33.33%;
			min-width: 0; // Prevents flex items from overflowing
			transition: transform 0.2s ease;

			&:hover {
				transform: translateY(-2px);
			}
		}
	}

	&__content {
		display: flex;
		gap: spacing(6);
		flex-grow: 1;
		width: 100%;
	}

	&__heading {
		margin-bottom: spacing(6);
		&--title {
			color: color-shade($gray, 700);
			font-size: font-size(3xl);
			font-weight: font-weight(semibold);
			letter-spacing: -0.3px;
		}
	}
}
