<div class="task-dashboard tasker__layout">
	<div class="header">
		<h2 class="page__heading">Tasks</h2>
		<p-button
			label="+ New Task"
			styleClass="p-button-primary tasker__button"
			[style]="{ height: '38px', 'font-weight': '500', 'font-size': '12px' }"
			class="mt-4 w-full"
		>
		</p-button>
	</div>
	<div class="task-analytics">
		<tasker-analytics></tasker-analytics>
	</div>

	<div class="task-controls">
		<!--    <app-task-view-toggle></app-task-view-toggle>-->
		<!--    <app-task-calendar-toggle></app-task-calendar-toggle>-->
	</div>

	<!--  <app-task-toolbar></app-task-toolbar>-->

	<div class="task-list-section">
		<tasker-filter></tasker-filter>
		<!--    <app-task-list></app-task-list>-->
	</div>
</div>
