<div class="task-dashboard tasker__layout">
  <div class="header">
    <h2 class="page__heading">Tasks</h2>
    <button class="new-task-btn">+ New Task</button>
  </div>
<!--  <app-task-analytics></app-task-analytics>-->

  <div class="task-controls">
<!--    <app-task-view-toggle></app-task-view-toggle>-->
<!--    <app-task-calendar-toggle></app-task-calendar-toggle>-->
  </div>

<!--  <app-task-toolbar></app-task-toolbar>-->

  <div class="task-list-section">
<!--    <app-task-filter></app-task-filter>-->
<!--    <app-task-list></app-task-list>-->
  </div>
</div>
